target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

### Git ###
.git
.gitignore
.gitattributes

### Documentation ###
*.md
!README.md

### Other ###
.DS_Store
*.log
